body {
    
    background-color: #46d388; 
    padding-bottom: 100px; 
    font-family: 'Sarabun', sans-serif;
    min-height: 100vh; 
}

/* Card รายการ */
.item-card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    transition: transform 0.1s;
    background-color: white;
    height: 100%;
}

.item-card:active {
    transform: scale(0.98);
}

.item-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

.item-price {
    color: #2E7D32;
    font-weight: bold;
}

/* ปุ่มเพิ่มลดจำนวน */
.qty-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ปุ่มรับเงิน */
.money-btn {
    font-weight: bold;
    font-size: 1.1rem;
    border-width: 2px;
}

/* เอฟเฟกต์ยุบเมื่อกด (Active State) */
.card-press-effect:active {
    background-color: #ffffff !important; /* เปลี่ยนสีพื้นนิดนึงตอนกด */
    transform: scale(0.86); /* ยุบลง 14% */
    transition: transform 0.14s; /* ยุบเร็วๆ ทันใจ */
}

/* เอฟเฟกต์ปุ่มลบ (สีแดง) */
.btn-press-effect:active {
    background-color: #ea5261 !important; /* แดงเข้มขึ้นตอนกด */
    transform: scale(0.86); /* ปุ่มเล็กยุบเยอะหน่อย */
}

/* ตัวเลขจำนวน */
.transition-text {
    transition: color 0.2s;
}

.big-close {
  width: 2rem;
  height: 2rem;
  background-size: 2rem;
}
